
html,body {
	margin:0;
	padding:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-top: 20px;
}

a {
	color: #06266F;
	padding: 1px;
}

a:hover {
	color: #1240AB;
	padding: 1px;
}

div#header {
	padding-bottom: 5px;
	border-bottom: 1px solid #EEE;
}

div#header h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: normal;
	color: #06266F;
	letter-spacing: -1px;
}

div#header h2 { /* The tagline thing */
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-weight: normal;
	color: #1240AB;
	padding-left: 20px;
	margin-top: -15px;
}

#navigation {
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
float: right;
}

#navigation li {
display: inline;
padding-right: 20px;
font-size: 11px;
}

#navigation li a {
font-size: 11px;
color: #666;
font-weight: normal;
padding: 4px;
}

div#container {
text-align:left
}

div#content p, div#extra p, div#sidebar p {
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #444;
line-height:1.8em;
}

div#content h1, div#extra h1, div#sidebar h1 {
font-size: 15px;
font-weight: bold;
color: #06266F;
background-color: #6C8CD5;
border: 1px solid #1240AB;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 3px 6px;
}

div#content h2 {
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: bold;
color: #444;
margin: 0;
padding: 0;
}

div#footer p {

margin:0;padding:5px 10px;
}

div#container {
width:700px;
margin:0 auto;
}

div#sidebar {
float:right;
width:330px;
padding-bottom: 10px;
}

div#extra {
float:left;
width:330px;
}

div#footer {
margin-top: 10px;
background-color: #333;
color: #FFF;
font-size: 11px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
clear:both;
width:100%;
padding: 5px;
text-align: center;
}

div#footer a, div#footer a:hover {
margin-top: 10px;
background-color: #333;
color: #FFF;
font-size: 11px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
clear:both;
width:100%;
color: #06266F;
font-weight: bold;
text-decoration: none;
border-bottom: 1px solid #333; 
border-right: 1px solid #333;
}

/* Elliot's additions */

/* Taken from http://loadaveragezero.com/vnav/labs/CSS/code.php */
div.codebox {
  font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, Courier, monospace;
  white-space: pre;
  padding: 0.5em 0;
  margin: 1em 0;
  border: 1px dashed #aaa8a8;
  color: #000;
  overflow: auto;
}

div.centerimage {
  text-align: center;
  margin: 0.5em 0;
}

.ubuntuicon {
  list-style-image: url(images/ubuntu_16.png);
}

.macicon {
  list-style-image: url(images/mac_16.png);
}

.sourceicon {
  list-style-image: url(images/package-x-generic.png);
}
