.closebutton {
    /* NOTE! This URL is relative to the HTML page, not the CSS */
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='highslide/graphics/close.png', sizingMethod='scale');

	background: none;
	cursor: hand;
}