Source: rlvm
Section: games
Priority: optional
Maintainer: Elliot Glaysher <glaysher@umich.edu>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.0.50~), libsdl1.2-dev, libfreetype6-dev,
               libsdl-image1.2-dev, libsdl-mixer1.2-dev, libgl1-mesa-dev,
               libboost-dev, libglew1.5-dev, scons, libboost-filesystem-dev, 
               libboost-serialization-dev, libboost-date-time-dev, 
               libboost-iostreams-dev, libboost-program-options-dev,
               libboost-thread-dev, libguichan-dev,
               zlib1g-dev, libsdl-ttf2.0-dev, libgtk2.0-dev,
               libzita-resampler-dev
Homepage: http://rlvm.net

Package: rlvm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ttf-japanese-gothic
Suggests: ttf-dejavu-core
Description: RealLive virtual machine clone
 rlvm is a Free Software reimplementation of VisualArt's KK's
 RealLive interpreter, used in the games Kanon, Air, CLANNAD, Planetarian,
 Tomoyo After and Little Busters, among many others.

