Source: rlvm
Section: games
Priority: extra
Maintainer: Elliot Glaysher <glaysher@umich.edu>
Build-Depends: debhelper (>= 5), libsdl1.2-dev, libfreetype6-dev, zlib1g-dev, libsdl-image1.2-dev, libsdl-mixer1.2-dev, libgl1-mesa-dev, libboost1.35-dev, libglew1.5-dev
Standards-Version: 3.7.2

Package: rlvm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RealLive virtual machine clone
 rlvm is a Free Software reimplementation of VisualArt's KK's
 RealLive interpreter, used in the games CLANNAD, Planetarian
 and Kanon. Currently rlvm is only compatible with Planetarian.

