<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ page.title }}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="Description" content="{{ page.description }}">
<link href="style.css" rel="stylesheet" type="text/css"/>
<link rel="shortcut icon" type="image/png" href="images/favicon.ico" />

<!-- Begin IE Fixes (Don't touch unless you know what you're doing!)-->
	<!--[if IE]>
	<link type="text/css" href="ie.css" rel="stylesheet" />
	<![endif]-->
<!-- End of IE fixes -->

<!-- Make sure we redirect to rlvm.net -->
<script type="text/javascript">
if (window.location.href.indexOf('http://www.elliotglaysher.org') === 0) {
  window.location.href = 'http://rlvm.net{{ page.url }}';
}
</script>
<link rel="canonical" href="http://rlvm.net{{ page.url }}">

<!-- Highslide configuration -->
<link rel="stylesheet" type="text/css" href="highslide/highslide.css" />
<script type="text/javascript" src="highslide/highslide.js"></script>
<script type="text/javascript">
    hs.graphicsDir = 'highslide/graphics/';
    hs.outlineType = 'rounded-white';
    hs.captionEval = 'this.a.title';
</script>

<!-- Hide download boxes on the main page. -->
<style type="text/css">
.downloadinfo { display: none; }
</style>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6905496-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body>
<span id="forkongithub">
  <a href="https://github.com/eglaysher/rlvm">Fork me on GitHub</a>
</span>
<div id="container">
  <div id="navigation">
	<ul>
      <li><a href="index.html">Main</a></li>
      <li><a href="guides.html">Guides</a></li>
      <li><a href="screenshots.html">Screenshots</a></li>
      <li><a href="old.html">Old versions</a></li>
      <li><a href="contributing.html">Contributing</a></li>
	  <li><a href="mailto:glaysher@umich.edu">Contact Me</a></li>
	</ul>
  </div>
  <div id="header">
	<h1>rlvm</h1>
	<h2>play Key games under Linux and OSX</h2>
  </div>
{{ content }}
  <div id="footer">
	Copyright &copy; 2008-2014 <a href="http://www.elliotglaysher.org/">Elliot Glaysher</a>.
  </div>
</div>
</body>

<!-- Disqus comment code -->
<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}

    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = "http://disqus.com/forums/rlvm/get_num_replies.js" + query;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
//]]>
</script>
</html>
